.pg-portal-wrapper {
  width: var(--pg-width-app);
  position: relative;
  height: 100%;
  min-height: 0px;
  z-index: 3;
  display: flex;
  justify-content: center;

  &[data-mobile='true'] {
    .pg-portal-feed {
      height: 100%;
      max-height: unset;
    }
  }

  .pg-no-scroll-bar {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.pg-portal-content {
  position: relative;
  width: var(--pg-width-feed);
}

.pg-portal-feed {
  width: var(--pg-width-feed);
  max-width: var(--pg-width-max-feed);
  background: var(--pg-color-bk-feed) !important;
  min-height: 0;
  overflow-y: auto;
  position: relative;
  z-index: 2;
  display: grid;
  justify-content: flex-start;
  align-items: stretch;
  grid-template-columns: repeat(var(--pg-grid-col-feed, 2), 1fr);
  grid-auto-rows: min-content;
  gap: var(--pg-gap-feed, 15px);
  padding: var(--pg-padding-feed, 15px);
  margin: auto;
}
